@startuml
title {{msg}}
{{#actors}}
actor {{.}}
{{/actors}}

Alice -> Brett: Authentication Request
Brett --> Alice: Authentication Response

Alice -> Brett: Another authentication Request
Alice <-- Brett: another authentication Response

@enduml