@startuml
title {{title}}
{{#actors}}
actor "{{name}}" <<Person>> {{#id}} as {{id}} {{/id}}
{{/actors}}

{{#systems}}
[{{name}}] <<Software System>> {{#id}} as {{id}} {{/id}}
{{/systems}}

package "Mobile Iron" {
  frame "iPad" {
    {{#ipadcomponents}}
    [{{name}}] <<Container>> {{#id}} as {{id}} {{/id}}
    {{/ipadcomponents}}
  }
}

P_VIP ..> C_APP_MOB : Uses
P_MEMBER ..> C_APP_BROWSER : Uses

@enduml
