@startuml
title {{title}}
{{#actors}}
actor "{{name}}" {{#id}} as {{id}} {{/id}}
{{/actors}}

{{#systems}}
[{{name}}] <<Software System>> {{#id}} as {{id}} {{/id}}
{{/systems}}

P_VIP --> A1: Authentication Response
P_PMO .right..> S_DIGITAL_SUITE

@enduml